<div ng-style="{'width':'450px', 'height':'310px', 'margin-top':'10px', 'margin-left':'30px','border':'solid 3px black'}"
     ng-controller="logInController">
    <div>
        <h1 ng-style="{'width':'250px', 'height':'30px','margin-left':'100px', 'margin-top':'10px'}">Sing In</h1>
        <!--<script type="text/javascript" src="/js/controllers/login-controller.js"></script>-->
        <form ng-submit="authenticate()">
            <input ng-style="{'width':'250px', 'height':'30px','margin-left':'100px', 'margin-top':'10px', 'border':'solid 3px black','padding-left':'10px'}"
                   type="text" placeholder="Username" ng-model="username" required>
            <br>
            <br>
            <input ng-style="{'width':'250px', 'height':'30px','margin-left':'100px', 'margin-top':'10px', 'border':'solid 3px black','padding-left':'10px'}"
                   type="password" placeholder="Password" ng-model="password" required>
            <br>
            <br>
            <button ng-style="{'width':'100px', 'height':'35px', 'margin-top':'10px', 'margin-left':'100px','border':'solid 3px black', 'color':'black'}"
                    type="submit">Log in
            </button>
            <a ng-style="{'width':'100px', 'height':'30px', 'margin-top':'10px', 'margin-left':'30px'}"
               href="/registration">Registration</a>
            <br>
            <p ng-style="{'width':'300px', 'height':'30px', 'margin-top':'10px', 'margin-left':'100px', 'color':'red'}">
                {{errorMessage}}</p>
        </form>
    </div>
</div>